<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "C3lt1c Viking", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path, class: 'nav_button' %></li>
        <li><%= link_to "About",   about_path, class: 'nav_button' %></li>
        <li><%= link_to "Services", services_path, class: 'nav_button' %></li>
        <li><%= link_to "Contact", contact_path, class: 'nav_button' %></li>
      </ul>
    </nav>
  </div>
</header>
